__pycache__/
*.py[cod]
*.so

.venv/
venv/
env/

outputs/
logs/
weights/*
!weights/rawnet/
weights/rawnet/*
!weights/rawnet/epoch_49.pth
data/datasets/

*.pt
*.pth
*.ckpt
*.onnx
*.bin
*.safetensors
*.msgpack
!weights/rawnet/epoch_49.pth

.DS_Store
